{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    {% if post.description %}
        <p>{{ group.description|linebreaks }}</p>
    {% else %}
        <span style="color:black">Описания группы нет</span>
    {% endif %}
    {% for post in page_obj %}
    {% include 'posts/includes/post_card.html' %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
