{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
  <div class="container py-5 row">
    <aside class="col-12 col-md-3">
        <article class="border rounded" style="padding: 5px">
            {% include 'posts/includes/profile_card.html' %}
        </article>
    </aside>
    <article class="col-12 col-md-9 border rounded" style="padding: 15px">
        {% for post in page_obj %}
            <ul class="border rounded" style="padding: 10px">
                {% include 'posts/includes/post_card.html' %}
            </ul>
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </article>
  </div>
{% endblock %}
